VITE_SUPABASE_URL=https://yahzlakgcdxdbkcdmpes.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhaHpsYWtnY2R4ZGJrY2RtcGVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MDgyMzMsImV4cCI6MjA5MTM4NDIzM30.dH3VSd1UsgeLSRItNYrfQc-q4_8JcmOvpcOOmnNiIBU
